faster_whisper==1.1.1
kokoro==0.9.4
langchain==0.3.25
langchain_openai==0.3.16
langdetect==1.0.9
numpy==2.2.5
PyAudio==0.2.14
python-dotenv==1.1.0
sounddevice==0.5.1
torch==2.6.0+cu118
torch==2.5.1+cu121
transformers==4.46.1
transformers==4.51.3
webrtcvad==2.0.10
